* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

code {
    font-family: Hack, monospace;
}

nav {
    font-family: Hack, monospace;
    text-align: left;
    font-size: 10px;
}

h1 {
    text-align: left;
    font-family: Hack, monospace;
    font-size: 18px;
}

h2 {
    text-align: left;
    font-family: Hack, monospace;
    font-size: 16px;
}

h3 {
    text-align: left;
    font-family: Hack, monospace;
    font-size: 14px;
}

body {
    line-height: 1.5;
    font-family: Hack, monospace;
    font-size: 12px;
}

footer {
    line-height: 1.5;
    font-family: Hack, monospace;
    font-size: 10px;
}

p {
  max-width: 80ch;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 16px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 14px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}
