body {
    margin: 0;
    line-height: 1.5;
    font-family: Hack, monospace;
}

footer {
    line-height: 1.5;
    font-family: Hack, monospace;
    font-size: 10px;
}

code {
    font-family: Hack, monospace;
}

h1 {
    text-align: center;
    font-family: Hack, monospace;
}

h2 {
    text-align: center;
    font-family: Hack, monospace;
}
