# Github pages config
_config.yml

# Build stuff
/target
index.html
cv.html
github-pages.tar
public/
pub/
priv/
downloads/
download/
web/pkg/

# Encryption lockfile (tracks encrypted entries)
.enkronio-locks
